<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
        <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div id="header"></div>
    <div id="your-sign">[ Aquarius ]</div>

    <div class="general-info">
        You are..<br>
        Friendly and humanitarian <br>
        Honest and loyal <br>
        Original and inventive<br> 
        Independent and intellectual<br><br> 
        
        Intractable and contrary <br>
        Perverse and unpredictable <br>
        Unemotional and detached<br>
    </div>
    <div id="signshelper"></div>
    <script src="../static/selections.js"></script>
    <script src="../static/header2.js"></script>
</body>
</html>