<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
        <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div id="header"></div>
    <div id="your-sign">[ Cancer ]</div>
    <div class="general-info">
        You are..<br>
        Emotional and loving<br>
        Intuitive and imaginative<br>
        Shrewd and cautious<br>
        Protective and sympathetic<br><br>        
        Changeable and moody<br>
        Overemotional and touchy<br>
        Clinging and unable to let go<br>
    </div>

    <!-- service selections -->
    <hr><div id="select">Select your service below</div>
    <div class="select-class">
        <a href="../horoscope/Cancer"><div class="select-list">Daily Horoscope</div>
        <a href="../compatibility/Cancer"><div class="select-list">Astrological Compatibility</div>
        <a href="../travel/Cancer"><div class="select-list" id="Cancer">Destiny Travel</div>
    </div>
    <div id="signshelper"></div>
    <script src="../static/header.js"></script>
</body>
</html>