<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div id="header"></div>
    <div id="your-sign">[ Leo ]</div>

    <div class="general-info">
        You are..<br>
        Generous and warmhearted<br>
        Creative and enthusiastic<br>
        Broad-minded and expansive<br>
        Faithful and loving<br><br>
        
        Pompous and patronizing<br>
        Bossy and interfering<br>
        Dogmatic and intolerant<br>
    </div>
    <div id="signshelper"></div>
    <script src="../static/selections.js"></script>
    <script src="../static/header2.js"></script>
</body>
</html>