body {
  background-image: url("./img/nightsky.jpg");
  background-color: rgb(29, 26, 68);
  font-family: Century Gothic Light;
}
#header {
  padding: 2em;
  font-size: 1.1em;
}
#header a {
  text-decoration: none;
}
#home {
  color: white;
}
h2 {
  color: white;
  text-align: center;
  text-decoration: none;
}
h3 {
  color: white;
  text-align: center;
  text-decoration: none;
}
hr {
  color: white;
  margin: 2em 0em;
}
/* index.html */
#star-signs {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  padding: 2em 8em 1em 8em;
}
#star-signs a {
  display: block;
  padding: 2em 2em;
  border: none;
  text-decoration: none;
}
#star-signs a:hover {
  border: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255, 0.1);
}
#star-container1 {
  column-count: 4;
  margin: 0.5em;
}
#star-container2 {
  column-count: 4;
  margin: 0.5em;
}
#star-container3 {
  column-count: 4;
  margin: 0.5em;
}
.signs {
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}
.signs-a {
  color: white;
}
.star-names {
  font-size: 1.2em;
}
.star-dates {
  font-size: 0.8em;
}
#birthday-result {
  font-weight: bold;
}
#find-signs {
  text-align: center;
  padding-top: 1em;
}
#find-signs h3 {
  padding-bottom: 0.5em;
}
#birthday {
  padding: 0.5em;
  font-size: 1em;
}
#showmysign {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  padding: 0.5em;
  font-family: Century Gothic Light;
  font-size: 1em;
}
#results {
  text-align: center;
  color: white;
}
#bir {
  font-size: 1.3em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: white;
}
#bir a {
  text-decoration: none;
}
#bir:hover {
  color: lightblue;
}
/* signs.html */
#back {
  position: absolute;
  padding: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255, 0.2);
  border: solid 1px rgb(255, 255, 255, 0.6);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}
#back:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
#select {
  font-weight: lighter;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
#select span {
  font-size: 1em;
}
.general-info {
  margin: auto;
  width: 800px;
  height: 300px;
  line-height: 1.7em;
  color: white;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.general-info h3 {
  text-align: center;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  color: rgb(29, 26, 68);
  /* color: rgba(255, 166, 0, 0.7); */
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#your-sign {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1em;
  text-decoration: none;
}
#sign-no-padding {
  color: white;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}
.select-class {
  font-weight: bold;
  font-size: 1.5em;
  padding: 3em 1em;
  column-count: 3;
}
.select-class a {
  text-decoration: none;
}
.select-list {
  text-align: center;
  color: white;
  padding: 1em;
}
.select-list:hover {
  background-color: rgb(255, 255, 255, 0.1);
}
/* horoscope.html */
.subpages {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}
.subtitles {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 2em 1em 1.5em 1em;
}
#horoscope-contents {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  line-height: 2em;
  font-size: 1.3em;
  line-height: 1.7em;
}
#horoscope-contents span {
  display: block;
  padding: 2em;
  font-size: 0.9em;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#img-container {
  text-align: center;
  margin: auto;
  width: 100%;
}
.reference {
  font-size: 0.8em;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255, 0.8);
}
/* compatibility.html */
#compatibility-contents {
  text-align: center;
}
/* travel.html */
#travel {
  text-align: center;
}
#travel-text p {
  margin: auto;
  width: 800px;
  padding: 1em 0em 1em 0em;
  color: white;
  height: 200px;
  overflow-y: scroll;
  line-height: 1.7em;
  text-align: left;
}
#rating {
  text-align: left;
  color: white;
  width: 800px;
  margin: auto;
}
#stars {
  padding: 0 5px 0 0;
}
