<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div class="subpages">
      <div class="subtitles">Astrological Compatibility</div>
      <div id="compatibility-contents">
      <div id="your-sign">[ {{ sign }} ]</div>
      <img src="../static/img/compatibility_aquarius.jpg"></div>
    </div>
    </div>
  </body>
</html>
