<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div class="subpages">
      <div class="subtitles">Daily Horoscope</div>
      <div id="your-sign">[ Aquarius ]</div>
      <p id="horoscope-contents">
        You are a creative person, and it will help you move ahead in life. You
        will get ample opportunities to prove your mettle in the creative field
        and your work will not only be rewarding but also very satisfying. You
        will be brimming with ideas and will deal with obstacles head on- like
        your sun sign! However, you will need to keep your passive aggressive
        nature on the side-lines, or it is likely to spoil your relationships
        with your near and dear ones. Life is unpredictable so do not whine
        about the hurdles which come across your path. Stride across the path of
        life with vigour and enthusiasm. Travel does not shine much on your
        cards. It is better that you stay indoors and watch movies.
      </p>
    </div>
  </body>
</html>
