<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <!-- back button -->
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>

    <div class="subpages">
      <div class="subtitles">Daily Horoscope</div>
      <div id="your-sign">[ {{ sign }} ]</div>
      <div id="img-container">
      <div id="horoscope-img"><img src="{{img}}" width="150" height="150"/></div></div>
      <p id="horoscope-contents"><br>
        Today is : {{ horoscope.current_date }}<br>
        Compatibility : {{ horoscope.compatibility }}<br>
        Mood : {{ horoscope.mood }}<br>
        Color : {{ horoscope.color }}<br>
        Lucky Number : {{ horoscope.lucky_number }}<br>
        Lucky Time : {{ horoscope.lucky_time }}<br>     
        <span>{{ horoscope.description }}</span>       
      </p>
      <p class="reference">*reference: rapidapi.com/sameer.kumar/api/aztro</p>
    </div>
  </body>
</html>
