<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div class="subpages">
      <div class="subtitles">Destiny Travel</div>
      <div id="travel-text">
        <div id="your-sign">[ Aquarius ]</div>
        <!-- wiki services -->
        <div class="service-results" id="wiki-result"></div>
      </div>
    </div>

    <!-- testing services -->
    <div><button id="get-reviews">Get reviews</button></div>
    <div><button id="wiki">Get wiki</button></div>
    <!--<input type='button' name='testing' value='testing' 
                    onclick="window.location='http://flip3.engr.oregonstate.edu:33133/ChIJW69I7FhZwokR61IbDPnsqTo'"-->
    <div id="">
      <div class="service-results" id="reviews-result"></div>
    </div>

<script type="text/javascript">

  var myLink = document.getElementById('wiki');
  
  myLink.onclick = function(){
  
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "../ajax-test.js"; 
      document.getElementById("reviews-result").textContent = "test";
      return false;
  
  }
  
  
  </script>

  </body>
</html>
