<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div class="subpages">
      <div class="subtitles">Destiny Travel</div>
      <div id="travel-text">
        <div id="your-sign">[ Aquarius ]</div>
        <p>
          This fixed air sign is ruled by Uranus, the planet of questioning and
          innovation. It’s also the humanitarian of the zodiac, plagued by
          injustice and driven to change the world. (Notably, the earth is
          entering the Age of Aquarius now—a cycle that only happens once every
          2,150 years and manifests as “a blending of old and new, of science
          and caring for people.”) White believes a knowledge-gathering trip to
          Greece, the cradle of Western civilization, would make an inspiring
          match for the water bearer. “It’s about experiencing the old temples
          and all this ancient wisdom but then adapting those teachings to who
          we are today,” she says. “Aquarius has to put its 21st-century twist
          on it to truly benefit people.”
        </p>
      </div>
    </div>
    <div><button id="get-reviews">Get reviews</button></div>
    <div><button id="wiki">Get wiki</button></div>
    <div id="service-results">
      <div id="reviews"></div>
      <div id="wiki"></div>
    </div>
    <script src="../static/httprequest.js"></script>
    <script src="../static/httprequest-wiki.js"></script>
  </body>
</html>
