<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
        <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div id="header"></div>
    <div id="your-sign">[ {{ signs }} ]</div>
    <div class="general-info">
        {{ wiki["Main"] }}
    </div>

    <!-- service selections -->
    <hr><div id="select">Select your service below</div>
    <div class="select-class">
        <a href="../horoscope/{{ signs }}"><div class="select-list">Daily Horoscope</div>
        <a href="../compatibility/{{ signs }}"><div class="select-list">Astrological Compatibility</div>
        <a href="../travel/{{ signs }}"><div class="select-list" id="Aries">Destiny Travel</div>
    </div>
    <script src="../static/header.js"></script>
</body>
</html>