<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astrology Zone</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css"
    />
  </head>
  <body>
    <div>
      <input type="button" id="back" value="Back" onclick="history.back()" />
    </div>
    <div class="subpages">
      <div class="subtitles">Destiny Travel</div>
      <div id="travel-text">
        <div id="your-sign">[ Aquarius ]</div>
        <p id="wiki-result">{{ wiki_result }}</p>
      </div><br>
      <div id="travel">
        <div id="picture">
          <img
            src="../static/img/Zakinthos, Greece-unsplash.jpg"
            width="500"
            height="610"
          />
        </div>
        <div id="maps">
          <img
            src="../static/img/Zakinthos, Greece-map.jpg"
            width="500"
            height="610"
          />
        </div>
      </div>
    </div>
    <!-- <div id="google-reviews"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/stevenmonson/googleReviews@6e8f0d794393ec657dab69eb1421f3a60add23ef/google-places.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDj7clChH8kmGTe5uga8JUz21Q0AAm_9iA&signed_in=true&libraries=places"></script>  
    <script>
    jQuery(document).ready(function( $ ) {
       $("#google-reviews").googlePlaces({
            placeId: 'ChIJ7zJxsDK3j4AR1qFYlrV07eg' //Find placeID @: https://developers.google.com/places/place-id
          , render: ['reviews']
          , min_rating: 4
          , max_rows:2
       });
    });
    </script> -->
  </body>
</html>
